@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>@ViewBag.Cookie</p>
<p>@ViewBag.Session</p>
<p>@ViewBag.ViewBag.DI</p>